* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #fff;
}

.container {
  margin: 7%;
  width: 90%;
  max-width: 700px;
}

.display {
  max-width: 97%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.container h1 {
  font-weight: 600;
  font-size: 45px;
  color: #be22ff;
}
.container .h1a {
  color: #ff279c;
}

.container h1 span {
  color: #ff981f;
  font-weight: 600;
  padding-bottom: 7px;
}

.display img {
  width: 30px;
  cursor: pointer;
}

.display input {
  border: 0;
  outline: 0;
  font-size: 24px;
}

.container button {
  border: 0;
  outline: 0;
  background: -webkit-linear-gradient(
    0deg,
    #be22ff 20%,
    #ff279c 50%,
    #ff981f 80%
  );
  background-image: -webkit-linear-gradient(
    0deg,
    rgb(190, 34, 255) 20%,
    rgb(255, 39, 156) 50%,
    rgb(255, 152, 31) 80%
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;

  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 35px;
  cursor: pointer;
}

.container button img {
  width: 28px;
  margin-right: 10px;
}
